<h2>Shorten a Link</h2>
<form action='/' method="post">
  URL:<br>
  <input type="text" name="name" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<br><br>

<h2>Your Link Stats</h2>
{{#each link as |link|}}
  <div id="link-container">
    <div class="link-data">{{link.URL}}</div>
    <div class="link-data">{{link.shortLink}}</div>
    <div class="link-data">{{link.visits}}</div>
  </div>
{{/each}}
